body{
    color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer{
    width: 100%;
    padding: 15px;
    background-color: azure;
    display: flex; justify-content: space-around; align-items: center;
}